/*Página 1 - Trilha CSS */
/*Página 2 - o que vou aprender? */
/*Página 3 - Transforme o mundo da gente */
/*Página 4 - Evolua e encare novos desafios profissionais */
/*Página 5 - Link de acesso */

body{
    background: black;
}
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
    text-align: center;
}

/*plano de fundo da página 1*/
.banner {
    background-image: linear-gradient(rgba(0, 0,0, .6), rgba(49,168,221,.2), rgba(0,0,0,.6)),
    url(./assets/images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    padding-top: 60px;
    border-bottom: 1px solid #33A8DB80;
}
/*rgba (red, blue, green, opacidade)*/

/*Logo inicial da página*/
.banner .logo {
    background-color: rgba(0, 0, 0, .2);
    height: 260px;
    width: 260px;
    margin: auto;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 16px;
    overflow-clip-margin: content-box;
    overflow: clip;
}
/*O título da página*/
.banner-content h1{
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: transparent;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    background-clip: text;
    -webkit-background-clip: text;
}
/*O subtítulo da página*/
.banner-content p{
    color: white;
    font-size: 20px;
    margin: 16px 0 24px;
    max-width: 1010px;
    padding-left: 400px;
}

/*O botão de se inscrever*/
.banner-content button {
    color: #31A8DD;
    font-size: 1rem;
    font-weight: bold;
    padding: 16px 32px;
    text-transform: uppercase;
    letter-spacing: 4px;
    background-color: transparent;
    border-image: linear-gradient(#3BA1CD, #1572B7);
    border-image-slice: 10;
    border-radius: 30px;
}

#course-content div{
    margin-bottom: 100px;
}

/*Titulo da página 2*/
#course-content h2{
    font-size: 2rem;
    color: #33A8DB;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 100px;
}
/*Subtitulo*/
#course-content p{
    color: white;
    margin: 24px;
    max-width: 1080px;
    padding-left: 300px;
}
/*Botão*/
#course-content .modules-list .module {
    color: white;
    width: 530px;
    margin: 0 auto 24px;
    border: 1px solid #33A8DB;
    background-color: #252525;
    padding: 16px;
    border-radius: 100px;
    box-shadow: inset -5px 6px 8px rgba(0, 0, 0, .7);
}
.module span{
    color: #3BA1CD;
}


/*Fundo da Página 3*/
#transform-world {
    height: 560px;
    background-size: cover;
    background-image: url(./assets/images/woman-code.png);
    background-attachment: fixed;
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
}
/*Texto da página 3*/
#transform-world p {
    font-weight:900;
    font-size: 35px;
    text-transform: lowercase;
    max-width: 640px;
    text-shadow: 3px 2px #33A8DB;
    padding-top: 250px;
    padding-right: 200px;
    padding-left: 200px;
    padding-bottom: 250px;
}

/*Página 4 plano de fundo*/

#professional-challenges{
    border-bottom: 1px solid #33A8DB80;
}

section #professional-challenges{
    margin-top: 50px;
    margin-bottom: 100px;
}
/*Texto do final da página*/
#professional-challenges h2{
    font-size: 2rem;
    color: #33A8DB;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin: 50px;
    max-width: 1100px;
    padding-left: 250px;
}
/*Texto da página 4*/
#professional-challenges p{
    color: white;
    margin-top: 24px;
    margin-bottom: 50px;
    max-width: 1100px;
    padding-left: 350px;
}

/*Plano de funo da página 5*/
footer{
    padding: 60px 0;
    text-align: center;
    background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
    border-top: 1px solid #33A8DB80;
 }
/* Texto da Página 5*/
p{
    color:white;
}
/*Link da DIO*/
footer a {
    color: #33A8DB;
    font-weight: bold;
    text-decoration: none;
}
